* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin: 0 10px 0 0;
}

.logo__name .name {
    color: #14274a;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.15em;
}

.logo__name .name h2 {
    font-size: 40px;
}

.logo__name .name p {
    font-size: 18px;
}

.header__menu--list {
    display: flex;
}

.header__menu--list li {
    margin: 0 20px;
    list-style-type: none;
}

.header__menu--list li:hover a {
    color: orange;
}

.header__menu--list li a {
    color: #000;
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 400;
}

.item-1 {
    margin: 30px 0;
}

.item-2 {
    margin-bottom: 30px;
}

.item {
    display: flex;
    justify-content: space-between;
    font-family: "Roboto";
    font-style: normal;
}

.item .img-item {
    /* transform: scale(1);
    transition: all 0.5s;  */
    transition: all 3s linear;
}

.item .img-item:hover {
    /* transform: scale(1.1); */
    transform: rotate(720deg);
}

.content h2 {
    font-weight: 700;
    color: #14274a;
}

.content .des-1 {
    font-weight: 400;
    margin: 15px 0;
}

.content .btn {
    background: #e0b973;
    font-weight: 700;
    color: #fff;
    padding: 10px 35px;
    border: none;
    border-radius: 5px;
}

.content .btn:hover {
    color: #000;
}

.footer {
    background: #132f66;
    height: 150px;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    line-height: 150px;
}

.footer h2 {
    color: #fff;
}

.footer-form .input-email {
    padding: 10px 10px;
    border: 2px solid #e0b973;
    background: #132f66;
}

.footer-form .btn-form {
    border: none;
    border-radius: 3px;
    padding: 10px 5px;
    background: #e0b973;
    color: #fff;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    margin: 0 10px;
}

.footer .input-email::placeholder {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    padding-left: 10px;
}
