body {
    margin: 0;
    padding: 0;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding-top: 20px;
}

.box .name {
    padding: 0 30px;
}




