.vmenu{
    padding:0 px;
    margin: 5 px;
    list-style:none;
    border-radius:3px;
    box-shadow:0 0 2px gray;
}

.vmenu a{
    background: url('img/cham.png') no-repeat 10px center;
    display: block;
    border-bottom: 1px dotted orangered;
    color: orangered;
    font-variant: small-caps;
    font-size: larger;
    text-decoration: none;
    padding: 8px 5px 8px 30px;
}

.vmenu a:hover{
    background: url('img/cham2.png') no-repeat 10px center;
    border-bottom: 1px dotted white;
    background-color: orangered;
    color: white;
    font-weight: bold;
}


