*{
    padding: 0;
    margin: 0;
}

.all {
    width: 400px;
    margin: 0 auto;
    border: 1px solid #000;
}

.all h1{
    text-align: center;
    padding: 20px 0;
}

.header {
    padding: 0 20px;
}

.header .nice {
    display: inline-block;
}

.header .form {
    padding-bottom: 20px;
}

.header .btn {
    padding: 20px;
    text-align: center;
}

.header .btn-control {
    padding: 5px 15px;
    font-size: 16px;
}
