body {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.all {
    width: 900px;
    margin: 0px auto;
}

.menu {
    text-align: center;
}

.menu h2 {
    color: rgb(87, 226, 180);
}

.slide {
   margin-top: 100px;
}

.w3-container {
    position: relative;
    background-color: rgb(2, 99, 66);
    height: 56px;
    margin-top: -5px;
}

.w3-left {
    position: absolute;
    padding: 15px 20px;
    background-color: rgb(12, 150, 104);
    border-radius: 50%;
}

.w3-left:hover {
    background-color: rgb(91, 221, 65);
}

.w3-right {
    float: right;
    padding: 15px 20px;
    background-color: rgb(12, 150, 104);
    border-radius: 50%;
}

.w3-right:hover {
    background-color: rgb(91, 221, 65);
}

.autostop {
    position: relative;
    text-align: center;
}

.autonext {
    position: absolute;
    margin-left: 280px;
    line-height: 56px;
    padding: 0px 20px;
    background-color: rgb(12, 150, 104);
    border-radius: 50%;
}

.autonext:hover {
    background-color: rgb(91, 221, 65);
}

.stopslide {
    position: absolute;
    margin-left: 580px;
    line-height: 56px;
    padding: 0px 20px;
    background-color: rgb(12, 150, 104);
    border-radius: 50%;
}

.stopslide:hover {
    background-color: rgb(91, 221, 65);
}

.footer {
    height: 512px;
    background-color: rgb(12, 134, 134);
}