body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
}

.all {
    width: 900px;
    margin: 0 auto;
}

.header {
    height: 60px;
    background-color: rgb(8, 8, 109);
}

.header img {
    width: 200px;
    height: 52px;
    margin-left: 350px;
    margin-top: 4px;
}

.nav {
    width: 900px;
    height: 243px;
}

.nav img {
    width: 900px;
}

.menu ul li{
    display: inline-block;
}

.menu {
    text-align: center;
    margin-top: -16px;
    height: 50px;
    background-color: rgb(153, 144, 15);
}

.menu ul li a {
    text-decoration: none;
    line-height: 50px;
    color: rgb(234, 236, 236);
    padding: 0px 24px;
}

.menu ul li:hover {
    background-color: rgb(87, 226, 180);
}

.menu ul li a:hover {
    color: rgb(87, 1, 58);
}

.content iframe {
    width: 900px;
    margin-top: 15px;
    height: 1050px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0 0 10px #387692;
}

.footer {
    background-color: rgb(8, 8, 109);
    height: 120px;
    position: relative;
}

.footer .ttsv {
    color: rgb(20, 221, 221);
}

.footer .email {
    margin-bottom: 10px;
    color: rgb(20, 221, 221);
}