body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.all {
    width: 900px;
    margin: 0 auto;
}

.frame {
    width: 600px;
    height: 950px;
    border: 1px solid grey;
    margin-left: 150px;
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(55, 95, 3);
}

.frame h1 {
    text-align: center;
}

#frames2,
.select,
#frames {
    width: 405px;
    height: 40px;
    border: 2px solid rgb(194, 192, 192);
    border-radius: 5px;
    margin-bottom: 5px;
}

#noidung {
    margin-top: 5px;
    margin-left: 50px;
}

.nho {
    margin-left: 0px;
    line-height: 40px;
}

.dk {
    margin-bottom: px;
    width: 400px;
    height: 35px;
}

.select {
    padding-left: 10px;
    width: 407px;
    height: 40px;
    margin-bottom: 5px;
}

.note {
    width: 400px;
    height: 70px;
    border: 2px solid rgb(194, 192, 192);
    border-radius: 5px;
}

.button:hover {
    background-color: black;
}

.button {
    color: white;
    background-color: #225366;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
}

.but {
    margin-bottom: 20px;
}

legend {
    font-weight: 500;
    font-size: 20px;
}

.p {
    margin-top: 0;
    color: red;
}

#footer {
    margin-top: 20px;
    height: 40px;
    background-color: #192041;
}

#footer p {
    line-height: 40px;
    font-size: large;
    text-align: initial;
    text-align: center;
    color: white;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    font-size: 20px;
    border: 2px solid rgb(194, 192, 192);
    border-radius: 5px;
    background-color: none;
}

.form-group input:focus {
    border-color: gray;
    outline: 0;
    background-color: none;
    font-size: 20px;
}

span {
    visibility: hidden;
}

.form-group.error span {
    visibility: visible;
    color: red;
}

.form-group.error .note,
.form-group.error .dk {
    background-color: yellow;
}

.form-group.success .note,
.form-group.success .dk {
    border: 2px solid green;
}