#main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.table{
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    border: 2px solid rgb(21, 122, 190);
    text-align: center;
}
.cap{
    margin: 32px;
    line-height: 48px;
    font-size: 30px;
    color: rgb(6, 6, 103);
}
.head,.subhead{
   background-color: rgba(15, 99, 189, 0.851);
   line-height: 60px;
   color: #fff;
   text-align: center;
   border: 2px solid rgb(148, 190, 219);


}
tr:nth-child(2n+1){
    background-color: #f6f4f4;
}
.body{
    height: 50px;
    font-size: larger;
}
.sub{
   background-color: rgba(15, 99, 189, 0.851);

}